<p>Our upcoming pledge drive needs your help. Will you record a pledge drive pitch for us? We want interesting voices and pitches. Be creative, inspired, musical, punny, or inspiring. Be Vermonty! Most importantly, <strong>be sure to follow these rules</strong>:</p>

<ul>
  <li>Your pitch cannot exceed 30 seconds.</li>
  <li>Your pitch must end with an ask for others to make a pledge.</li>
  <li>Your pitch must include our pledge drive phone number 1-800-639-6391 or a reference to our site at VPR.net.</li><br>
  <strong><u>Please include your name, phone number, and email address with your submission.</u></strong>
</ul>
<hr>
