<p>Our campaign to eliminate the June membership drive needs your help. Will you record a pitch for us? Why do you value VPR? Why should people support it? Be creative, musical, punny, or inspiring. Be Vermonty! Most importantly, <strong>be sure to follow these rules</strong>:</p>

<ul>
  <li>Your pitch cannot exceed 30 seconds.</li>
  <li>Your pitch must end with an ask for others to make a contribution.</li>
  <li>Your pitch must include either our pledge phone number 800-639-6391, OR vpr.net.</li><br>
  <strong><u>Please include your name, phone number, and email address with your submission.</u></strong>
</ul>
<hr>
