<p>Our campaign to eliminate the June membership drive needs your help. Will you record a pitch for us?</p>
<p>Why do you value VPR? Why should people support it? Be creative, musical, punny, or inspiring. Be Vermonty! Most importantly, be sure to follow these rules:</p>

<ul>
  <li>Your pitch cannot exceed 30 seconds.</li>
  <li><strong>Your pitch must end by asking others to make a contribution to eliminate the pledge drive.</strong></li>
  <li>Your pitch must include either our pledge phone number 800-639-6391 <strong>or</strong> VPR.net.</li><br>
  <strong><u>Please include your name, phone number, and email address with your submission.</u></strong>
</ul>
<hr>
