<p>There are a couple of different ways to submit your pitch:</p>

<ul>
  <li><strong>Voicemail:</strong> Prepare your thirty second pitch, find a quiet spot, then leave it in a voicemail at <strong>1-802-552-4880</strong>.</li>
  <li><strong>iPhone:</strong> All recent iPhones have a built in app called <strong>Voice Memos</strong>. Open the app and record your pitch. You'll be able to listen to your recording, edit, delete, and re-record. When you're happy with it, press <em>Done</em>, save your voice memo, and email it straight from your iPhone to <strong>community@vpr.net</strong>.</li>
  <li><strong>Email:</strong> Record your pitch using any audio software, then send it in an email to <strong>community@vpr.net</strong>.</li>
  <li><strong>SoundCloud:</strong> Record your pitch and post it to <a href="https://soundcloud.com/" target="_blank">SoundCloud</a>, then email the link to <strong>community@vpr.net</strong>.
</ul>
<hr>
