<p>There are a few different ways to submit your pitch:</p>

<ul>
  <li><strong>SoundCloud:</strong> Record your pitch and post it to <a href="https://soundcloud.com/" target="_blank">SoundCloud</a>, then email the link to community@vpr.net.</li>
  <li><strong>iPhone:</strong> Use your iPhone's built in Voice Memos app, then email the audio file to community@vpr.net.</li>
  <li><strong>Email:</strong> Record your pitch using any audio software, then email the MP3 to community@vpr.net.</li>
</ul>
<hr>
