<p>There are a few different ways to submit your pitch:</p>

<ul>
  <li><strong>Voicemail:</strong> Prepare your pitch, and when you're ready, call 802-555-5555 to leave it in a voicemail.</li>
  <li><strong>SoundCloud:</strong> Record your pitch and post it to SoundCloud, then email the link to community@vpr.net.</li>
  <li><strong>iPhone:</strong> Use your iPhone's build in Voice Memos app, then email the audio file to community@vpr.net.</li>
  <li><strong>Email:</strong> Record your pitch using any audio software, then email the MP3 to community@vpr.net.</li>
</ul>
