<br>
<p>We're always hearing from our listeners about how much they love VPR and why they choose to support us. In fact, we've heard you make the case far better than we ever could!</p>
<p>For our upcoming campaign to eliminate the June drive, we're turning the tables and asking you to record your best pitch for supporting VPR.</p>
<p>We might use your pitch on the radio or online to help encourage others to help eliminate the June drive. You can record your pitch on your smartphone and send an MP3 to community@vpr.net and that's it! You might hear yourself on the air.</p>
<p><strong>Submit an audio pitch by May 26, and you will be entered to win a $100 gift certificate to <a href="http://henofthewood.com/" target="_blank">Hen of the Wood</a>.</strong></p>
