{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
          <h2>Record your own pitch for eliminating the June pledge drive, and you might hear yourself on the air!</h2><hr>
          {% include "_soundcloud.html" %}
          {% include "_text_intro.html" %}
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-12">
          <h2>1. Craft Your Pitch</h2>
            {% include "_instructions.html" %}
          <h2>2. Submit Your Pitch</h2>
            {% include "_submissions.html" %}
          <h2>3. Hear Your Pitch</h2>
            {% include "_next_steps.html" %}
          <h2>Need inspiration? Check out these listener pitches:</h2>
            {% include "_pitch_examples.html" %}
        </div>
    </div>
</div>

{% endblock %}
