{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>You Do The Pledge Drive</h1>
          <h4>We're tired of doing the pledge drive. You're probably tired of hearing it. Let's do something different. Send us your own pledge drive pitch, and we might put it on the air.</h4>
            {% include "_soundcloud.html" %}
          <h2>1. Craft Your Pitch</h2>
            {% include "_instructions.html" %}
          <h2>2. Submit Your Pitch</h2>
            {% include "_submissions.html" %}
          <h4><br>Need ideas? Here are some examples:</h4>
            {% include "_pitch_examples.html" %}
        </div>
    </div>
</div>

{% endblock %}
