{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>You Do The Pledge Drive</h2>
              <div class="soundcloud">
                {% include "_soundcloud.html" %}
              </div>
            <h2>What Kind of Pitch?</h2>
            <h2>Craft Your Pitch</h2>
            <h2>Submit Your Pitch</h2>
        </div>
    </div>
</div>

{% endblock %}
